/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
}


#hero {
    height: 500px;
    background: url("../assets/images/pexels-marta-wave-6437840.jpg") no-repeat center center/cover;
    width: 60%;
    /* Make the image take up half of the span */
    opacity: 70%;
    margin-left: 10px;
}

#hero > h2 {
        width: 50%;
        font-size: 40px;
        text-align: left;
        color: green;
        margin: 20% 0 2% 120%;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/*Navbar Menu Elements*/
#menu{
    margin-right: 10%;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#menu li {
    margin: 0 15px;
}

#menu li a {
    text-decoration: none;
    color: #333;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    padding: 5px 10px;
}

#menu li a.active {
    text-decoration: underline;
}

#hero > p {
    color: black;
    margin: 0 0 0 125%;
    width: 50%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
header a {
    text-decoration: none;
    color: inherit;
}

.active {
    border-bottom: 1px solid black;
}


#menu>li {
    margin-bottom: 1rem;
}

/* About Us*/
.about-us{
    background-color: black;
    height: 350px;
    list-style-type: circle;
}
.heading{
    font-size: 20px;
    color:green;
    margin-left: 100px;
}
.about-us > h2 {
    margin-left: 50%;
    padding-top: 20px;
}

.about-us>h3 {
    margin-left: 30%;
}

.about-us-list{
    color: #ffffff;
    margin-top: 1.3rem;
    margin-left: 3%;
}

.about-us-list>li{
    margin-bottom: 0.5rem;
}
.schedule-table {
    width: 30%;
    text-align: left;
    color:#ffffff;
}
.schedule-table th,
.schedule-table td {
    border: 1px #fff ;
    border-bottom: inset; 
    text-align: center;
}

.schedule-table th {
    background-color: #000;
    font-weight: bold;
}

.schedule-table td {
    background-color: #000;
}

/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #ffffff;
}

#signup{
    margin: 40px;
    text-align: center;
    line-height: 180%;
}
#signup-form{
    color:black
}

.about-us-label{
    font-size: 17px;
    margin-left: 15px;
    color: #ffffff;

}

.about-us-table{
    margin-left: 20%;
    color:#ffffff;
    padding-top: 30px;
}


#signup > h2,h4{
    color:green;
    font-size: 25px;
    padding: 5px;
}
#signup >button{
      background-color: green;
      color:white;
      padding: 0.6rem;
      border-radius: 50%;
      border-color: black;
      margin: 40px;
}

/*Contact Us Section*/
#contact-us{
    padding:3.2rem;
    text-align: center;
    color:#ffffff;
    background-color: black;
    line-height: 220%;
}
#contact-us > h2,h4{
    color:green;
}

