/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#hero {
    height: 500px;
    background: url("../assets/images/pexels-marta-wave-6437840.jpg") no-repeat center center/cover;
    width: 50%;
        /* Make the image take up half of the span */
    object-fit: cover;
    position: relative;
    opacity: 70%;
    display: inline-block;


}
#hero > h2 {
        width: 50%;
        padding: 30px;
        font-size: 40px;
        justify-content: center;
        text-align: left;
        color: green;

}

#hero>p{
    justify-content: center;
    text-align: left;
    color: black;

}


header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
header a {
    text-decoration: none;
    color: inherit;
}

#menu{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-size: 110%;
    letter-spacing: 2px;

}

/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #ffffff;
}

#signup{
    margin: 40px;
    text-align: center;
    line-height: 180%;
}

#signup > h2{
    color:green;
}
#signup >button{
      background-color: green;
      color:white;
      padding: 0.6rem;
      border-radius: 50%;
      border-color: black;
      margin: 40px;
}

/*Contact Us Section*/
#contact-us{
    padding:3.2rem;
    text-align: center;
    color:#ffffff;
    background-color: black;
    line-height: 220%;
}
#contact-us > h2,h4{
    color:green;
}